#wrapper {
    width: 100%;
    max-width: 640px;
    min-width: 300px;
    margin: 0 auto;
    height: 1000px;
}
/* 头部搜索框 */
.jd-search {
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    max-width: 640px;
    min-width: 300px;
    height: 40px;
    z-index: 9999;
    /*background: red;*/
}
.jd-search header {
    position: relative;
    width: 100%;
    height: 100%;
}
.jd-search header .jd-logo {
    position: absolute;
    left: 10px;
    top: 9px;
    width: 56px;
    height: 40px;
}
.jd-search header .jd-logo i {
    width: 56px;
    height: 21px;
    background-position: 0 -109px;
}
.jd-search header .search {
    width: 100%;
    height: 100%;
    padding-left: 76px;
    padding-right: 48px;
}
.jd-search header  .search form {
    display: inline-block;
    width: 100%;
    height: 30px;
    background: #fff;
    border-radius: 100px;
    margin-top: 5px;
    overflow: hidden;
}
.jd-search header  .search form span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-position: -60px -109px;
    margin-left: 8px;
    vertical-align: middle;
}
.jd-search header  .search form input {
    display: inline-block;
    width: 80%;
    height: 100%;
}
.jd-search header  .login {
    position: absolute;
    top:0;
    right: 10px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}
.jd-search header  .login a{
    color: #fff;
}

/* banner 轮播*/
#slider {
    width: 100%;
    position: relative;
}
#slider .slider-touch {
    width: 100%;
    overflow: hidden;
}
#slider .slider-touch ul {
    width: 1000%;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
}
#slider .slider-touch ul li {
    width: 10%;
    float: left;
}
#slider .slider-touch ul li a {
    display: block;
    width:100%;
}
#slider .slider-touch ul li a img {
    width: 100%;
}
.slider-btn {
    position: absolute;
    width: 100%;
    bottom: 8px;
    left: 0;
    text-align: center;
}
.slider-btn span {
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 0 2px;
}
.slider-btn span.active {
    background-color: #fff;
}

/* 导航块 */

#nav {
    width: 100%;
}
#nav nav {
    width: 100%;
    padding-top: 12px;
}
#nav nav a {
    width: 25%;
    float: left;
    text-align: center;
    margin-bottom: 10px;
}
#nav nav a span {
    text-align: center;
}
#nav nav a img {
    width: 40px;
    height: 40px;
    margin: 0 auto 6px;
}

/* 广告位置 */
.adv {
    width: 100%;
}

/* 主要内容区域 */
#main {
    display: block;
    width: 100%;
    background: #F5F5F5;
}
.floor {
    width: 100%;
    margin-top: 8px;
}
.floor .floor-container {
    width: 100%;
    overflow: hidden;
}
/*掌上秒杀 */
.floor:nth-child(1) {
    background: #fff;
}
.title-wrap {
    width: 100%;
}
.title-wrap span.secskill-icon {
    display: inline-block;
    margin-left: 10px;
    margin-top: 6px;
    width: 18px;
    height: 22px;
    background-position: -84px -109px;
}
.title-wrap h2.secskill-title {
    font-size: 15px;
    color: #CA1327;
    margin: 10px 3px 0 4px;
}
.title-wrap .secskill-timer {
    margin: 13px 0 0 10px;
}
.title-wrap .secskill-timer .secskill-time {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    text-align: center;
    line-height: 18px;
    background: #000;
    color: #fff;
}
.title-wrap .secskill-more {
    margin-top: 13px;
    padding-right: 10px;
    font-size: 14px;
    color: #aaa;
}
.title-wrap .secskill-more span.sprite-icon {
    width: 7px;
    height: 12px;
    background-position: -187px -50px;
}
.secskill-content {
    width: 100%;
    overflow: hidden;
    padding-top: 10px;
}
.secskill-content ul {
    width: 700%;
}
.secskill-content ul li{
    width: 4.76%;
    float: left;
    text-align: center;
}


.secskill-content ul li a img {
    display: inline-block;
    width: 80%;
}
.secskill-content ul li p:nth-child(2) {
    color: #F17A5C;
    margin-top: 8px;
    font-size: 14px;
}
.secskill-content ul li p:nth-child(3) {
    color: #aaa;
    font-size: 12px;
    text-decoration: line-through;
}

/*京东超市*/

.jd-shop .floor-container:nth-child(1) .item{
    width:33.33%;
    float: left;
}
.jd-shop .floor-container:nth-child(2) .item{
    width:50%;
    float: left;
}

/* 广告轮播 */
.advert .floor-container {
    padding: 0 8px;
    position: relative;
}
.advert .floor-container ul {
    width: 400%;
}
.advert .floor-container ul  li {
    width: 25%;
    float: left;
}

.advert .floor-container .advert-pro {
    width: 100%;
    overflow: hidden;
}
/* 特色市场 */
.floor-title {
    width: 100%;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    background: #fff;
}
.floor-title a {
    color: #F25353;
    padding-left: 8px;
}
.left, .right{
    width: 50%;
    float: left;
}