#wrapper {
    width: 100%;
    max-width: 640px;
    min-width: 300px;
    margin: 0 auto;
    height: 1000px;
}
/* 头部搜索框 */
.jd-search {
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    max-width: 640px;
    height: 40px;
    z-index: 9999;
    /*background: red;*/
}
.jd-search header {
    position: relative;
    width: 100%;
    height: 100%;
}
.jd-search header .jd-logo {
    position: absolute;
    left: 10px;
    top: 9px;
    width: 56px;
    height: 40px;
}
.jd-search header .jd-logo i {
    width: 56px;
    height: 21px;
    background-position: 0 -109px;
}
.jd-search header .search {
    width: 100%;
    height: 100%;
    padding-left: 76px;
    padding-right: 48px;
}
.jd-search header  .search form {
    display: inline-block;
    width: 100%;
    height: 30px;
    background: #fff;
    border-radius: 100px;
    margin-top: 5px;

}
.jd-search header  .search form span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-position: -60px -109px;
    margin-left: 8px;
    vertical-align: middle;
}
.jd-search header  .search form input {
    display: inline-block;
    width: 80%;
    height: 100%;
}
.jd-search header  .login {
    position: absolute;
    top:0;
    right: 10px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}
.jd-search header  .login a{
    color: #fff;
}

/* banner 轮播*/
#slider {
    width: 100%;
    position: relative;
}
#slider .slider-touch {
    width: 100%;
    overflow: hidden;
}
#slider .slider-touch ul {
    width: 1000%;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
}
#slider .slider-touch ul li {
    width: 10%;
    float: left;
}
#slider .slider-touch ul li a {
    display: block;
    width:100%;
}
#slider .slider-touch ul li a img {
    width: 100%;
}
#slider .slider-btn {
    position: absolute;
    width: 100%;
    bottom: 8px;
    left: 0;
    text-align: center;
}
#slider .slider-btn span {
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 0 2px;
}
#slider .slider-btn span.active {
    background-color: #fff;
}

/* 导航块 */

#nav {
    width: 100%;
}
#nav nav {
    width: 100%;
    padding-top: 12px;
}
#nav nav a {
    display: block;
    width: 25%;
    float: left;
    text-align: center;
    margin-bottom: 10px;
}
#nav nav a span {
    text-align: center;
}
#nav nav a img {
    width: 40px;
    height: 40px;
    margin: 0 auto 6px;
}

/* 广告位置 */
.adv {
    width: 100%;
}
