#wrapper {
    width: 100%;
    max-width: 640px;
    min-width: 300px;
    margin: 0 auto;
    height: 1000px;
}
/* 头部搜索框 */
.jd-search {
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    max-width: 640px;
    min-width: 300px;
    height: 40px;
    z-index: 9999;
    /*background: red;*/
}
.jd-search header {
    position: relative;
    width: 100%;
    height: 100%;
}
.jd-search header .jd-logo {
    position: absolute;
    left: 10px;
    top: 9px;
    width: 56px;
    height: 40px;
}
.jd-search header .jd-logo i {
    width: 56px;
    height: 21px;
    background-position: 0 -109px;
}
.jd-search header .search {
    width: 100%;
    height: 100%;
    padding-left: 76px;
    padding-right: 48px;
}
.jd-search header  .search form {
    display: inline-block;
    width: 100%;
    height: 30px;
    background: #fff;
    border-radius: 100px;
    margin-top: 5px;
    overflow: hidden;
}
.jd-search header  .search form span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-position: -60px -109px;
    margin-left: 8px;
    vertical-align: middle;
}
.jd-search header  .search form input {
    display: inline-block;
    width: 80%;
    height: 100%;
}
.jd-search header  .login {
    position: absolute;
    top:0;
    right: 10px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}
.jd-search header  .login a{
    color: #fff;
}

/* banner 轮播*/
#slider {
    width: 100%;
    position: relative;
}
#slider .slider-touch {
    width: 100%;
    overflow: hidden;
}
#slider .slider-touch ul {
    width: 1000%;
    -webkit-transform: translateX(-10%);
    transform: translateX(-10%);
    overflow: hidden;
}
#slider .slider-touch ul li {
    width: 10%;
    float: left;
}
#slider .slider-touch ul li a {
    display: block;
    width:100%;
}
#slider .slider-touch ul li a img {
    width: 100%;
}
.swiper-pagination {
    position: absolute;
    width: 100%;
    bottom: 8px;
    left: 0;
    text-align: center;
}
.swiper-pagination span.swiper-pagination-bullet {
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 0 2px;
}
.swiper-pagination span.swiper-pagination-bullet-active {
    background-color: #fff;
}

/* 导航块 */

#nav {
    width: 100%;
}
#nav nav {
    width: 100%;
    padding-top: 12px;
}
#nav nav a {
    width: 25%;
    float: left;
    text-align: center;
    margin-bottom: 10px;
}
#nav nav a span {
    text-align: center;
}
#nav nav a img {
    width: 40px;
    height: 40px;
    margin: 0 auto 6px;
}

/* 广告位置 */
.adv {
    width: 100%;
}

/* 主要内容区域 */
#main {
    display: block;
    width: 100%;
    background: #F5F5F5;
}
.floor {
    width: 100%;
    margin-top: 8px;
}
.floor .floor-container {
    width: 100%;
    overflow: hidden;
}
/*掌上秒杀 */
.floor:nth-child(1) {
    background: #fff;
}
.title-wrap {
    width: 100%;
}
.title-wrap span.secskill-icon {
    display: inline-block;
    margin-left: 10px;
    margin-top: 6px;
    width: 18px;
    height: 22px;
    background-position: -84px -109px;
}
.title-wrap h2.secskill-title {
    font-size: 15px;
    color: #CA1327;
    margin: 10px 3px 0 4px;
}
.title-wrap .secskill-timer {
    margin: 13px 0 0 10px;
}
.title-wrap .secskill-timer .secskill-time {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    text-align: center;
    line-height: 18px;
    background: #000;
    color: #fff;
}
.title-wrap .secskill-more {
    margin-top: 13px;
    padding-right: 10px;
    font-size: 14px;
    color: #aaa;
}
.title-wrap .secskill-more span.sprite-icon {
    width: 7px;
    height: 12px;
    background-position: -187px -50px;
}
.secskill-content {
    width: 100%;
    overflow: hidden;
    padding-top: 10px;
}
.secskill-content ul {
    width: 700%;
}
.secskill-content ul li{
    width: 4.76%;
    float: left;
    text-align: center;
}


.secskill-content ul li a img {
    display: inline-block;
    width: 80%;
}
.secskill-content ul li p:nth-child(2) {
    color: #F17A5C;
    margin-top: 8px;
    font-size: 14px;
}
.secskill-content ul li p:nth-child(3) {
    color: #aaa;
    font-size: 12px;
    text-decoration: line-through;
}

/*京东超市*/

.jd-shop .floor-container:nth-child(1) .item{
    width:33.33%;
    float: left;
}
.jd-shop .floor-container:nth-child(2) .item{
    width:50%;
    float: left;
}

/* 广告轮播 */
.advert .floor-container {
    padding: 0 8px;
    position: relative;
}
.advert .floor-container ul {
    width: 400%;
}
.advert .floor-container ul  li {
    width: 25%;
    float: left;
}

.advert .floor-container .advert-pro {
    width: 100%;
    overflow: hidden;
}
/* 特色市场 */
.floor-title {
    width: 100%;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    background: #fff;
}
.floor-title a {
    color: #F25353;
    padding-left: 8px;
}
.left, .right{
    width: 50%;
    float: left;
}
/* 主题街 */
.top {
    width: 100%;
}
.bottom {
    width: 100%;
}
.bottom a {
    width: 50%;
    float: left;
}
.ztj a {
    width: 25%;
    float: left;
}
/* 品牌推荐 */
.brand {
    padding: 0 8px;
}
.brand .item {
    width: 30.22%;
    float: left;
}
.brand .item:nth-child(1) {
    width: 39.55%;
}

/* 为你推荐 */
.recommend {
    width: 100%;
    height: 30px;
    margin-bottom: 8px;
    padding: 0 8px;
}
.recommend .layout {
    position: relative;
    width: 100%;
    height: 100%;
}
.recommend .layout:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    background: #ccc;
    z-index: 1;
}
.recommend .layout span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
    height: 21px;
    line-height: 21px;
    font-size: 14px;
    padding-left: 36px;
    padding-right: 6px;
    background: #F5F5F5 url("../images/gray.png") no-repeat 6px 0;
    z-index: 2;
}

/* 推荐产品 */
.recommend-pro {
    width: 100%;
}
.recommend-pro ul {
    width: 100%;
}
.recommend-pro ul li {
    position: relative;
    width: 50%;
    float: left;
    margin-bottom: 4px;
}

.recommend-pro ul li:nth-child(2n+1) {
    padding-right: 2px;
}
.recommend-pro ul li:nth-child(2n) {
    padding-left: 2px;
}
.recommend-pro ul li .product {
    width: 100%;
    background: #fff;
}
.recommend-pro ul li .product span{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    width: 100%;
    height: 41px;
    line-height: 16px;
    padding: 8px 10px 8px 4px;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}
.product-price {
    display: block;
    color: #F66C6C;
    font-size: 13px;
    padding-left:4px;
    padding-bottom: 10px;
    background: #fff;
}
.big-price {
    font-size: 18px;
}
.guess-pro {
    position: absolute;
    right: 8px;
    bottom: 6px;
    width: 49px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #686868;
    text-align: center;
}
.guess-pro:after {
    content: '';
    position: absolute;
    top: -12px;
    left: -26px;
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* 继续加载 */
.continue {
    width: 100%;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    text-align: center;
}


/* 底部 */
footer {
    width: 100%;
    text-align: center;
}
/*链接*/
.jd-link {
    width: 100%;
    overflow: hidden;
}
.jd-link ul {
    width: 320px;
    margin: auto;
    display: table;
    padding: 18px 0;
}
.jd-link ul li {
    display: table-cell;
    width: 69px;
    border-right: 1px solid #ccc;
}
.jd-link ul li:nth-child(1) {
    width: 90px;
}
.jd-link ul li:nth-child(4) {
    border-right:0;
}

/*平台*/
.jd-platform {
    width: 100%;
    overflow: hidden;
}
.jd-platform ul {
    display: table;
    width: 320px;
    margin: auto;
    padding: 8px 0;
}
.jd-platform ul li {
    display: table-cell;
}
.jd-platform ul li a{
    position: relative;
    display: block;
    width: 45px;
    margin: auto;
    opacity: .6;
}
.jd-platform ul li a.platform2 {
    opacity: 1;
}
.jd-platform ul li a:before {
    content: '';
    display: block;
    height: 38px;
    width: 33px;
    margin: 9px auto 0;
    background: url("../images/jd-sprites.png") no-repeat;
    background-size: 200px 200px;
}
.jd-platform ul li a.platform1:before {
    background-position: -120px -70px;
}
.jd-platform ul li a.platform2:before {
    background-position: -40px -70px;
}
.jd-platform ul li a.platform3:before {
    background-position: -80px -70px ;
}
.jd-platform ul li a.platform1:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 2px;
    right: 3px;
    background: url("../images/jd-sprites.png") no-repeat;
    background-size: 200px 200px;
    background-position: -150px 0;
}
/* 版权所有 */
.jd-copyright {
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #ccc;
    margin-bottom: 40px;
}

/* 底部菜单栏 */
#menu {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 44px;
    box-shadow: 0 -5px 5px #ccc;
    background: #fff;
}
#menu ul {
    width: 100%;
}
#menu ul li {
    width: 20%;
    float: left;
}
#menu ul li a {
    width: 57px;
    height: 44px;
    margin: auto;
}
.goTop {
    position: fixed;
    right: 10px;
    bottom: 60px;
    width: 40px;
    height: 40px;
}